{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "db_server": "restful.database.windows.net",
    "db_database": "WideWorldImportersUpdates",
    "db_user": "RestFulAPI",
    "db_password": "S12345SH!"
  }
}